body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: #eef2f4;
  color: #0b1220;
}

* {
  box-sizing: border-box;
}

button,
input {
  font-family: inherit;
}
