body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: #f5f7fb;
  color: #0f172a;
}

* {
  box-sizing: border-box;
}

button,
input {
  font-family: inherit;
}
